<div class="main">
<h2>Лабораторна робота № 9</h2>
<h3>Тема: Робота з компонентами MVC-RoR проекту</h3>
<h4>Мета роботи – навчитися створювати веб-аплікації із хедерами, 
футерами та Bootstrap.</h4>

<h5>9.1 Завдання для виконання</h5>

<p>В лабораторній роботі №8 було створено просту аплікацію для 
реєстрування користувачів. В цій роботі потрібно додати зручності для 
роботи з додатком і додати оформлення.
Послідовність виконання завдань:
<ol>
<li> Відкрити проект ЛР8;</li>
<li> Додати до проекту хедер і футер [1].</li>
<li> У футері розмістити контактну інформацію про розробника.</li>
<li> Приєднати до проекту фреймворк Bootstrap [2].</li>
<li> Вибрати один із готових шаблонів в розділі Navs & Tabs [3], 
розмістити його у хедері свого проекту.</li>
<li> До пунктів навігації приєднати такі дії "Про проект", "Створити 
користувача", "Показати всіх користувачів", "Видалити всіх користувачів". 
Дія "Про проект" повинна відображати завдання до цієї лабораторної роботи.</li>
<li> Видалити дії, які є на сторінках, і продубльовані в навбарі.</li></p>
</ol>
</div>
<style>
.main{
    width:700px;
    margin: 0 auto;
    border:2px dashed black;
    padding:10px;
    margin-top:10px;
}
h2,h3,h4,h5{
text-align:center;
margin-bottom:20px;
margin-top:20px;
}
</style>